<div class="warner_block">

<!--  <h2 class="game_name"><%#= @user.name %></h2>-->
<!--  <h2 class="game_name"><%#= @user.email %></h2>-->

  Предупреждение!
  <br>
  Не знаю как и зачем вы попали на эту страницу, но она не используется на сайте в данный момент.
  <br>
  Можете конечно поковырять, если очень хотите.

  <%# if logged_in? && current_user == @user %>
    <%#= button_to "Редактировать", edit_user_path(current_user), class: 'game_start_button', method: :get %>
  <%# end %>

</div>